<br>
<div class="well well-sm">
  <div class="row">

    <div class="col-md-8">
      <h4><b>Título da Competição:</b> <%= @competition.title %></h4>
    </div>

    <div class="col-md-4">
      <h4 ><b>Valor da Inscrição:</b> <%= number_to_currency(@competition.price, precision: 2) %></h4>
    </div>

  </div>
</div>


<br>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#competitors">Competidores</a></li>
  <li><a data-toggle="tab" href="#double">Duplas</a></li>
</ul>

<div class="tab-content">
  <div id="competitors" class="tab-pane fade in active">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listando Competidores
        <%= link_to  new_backoffice_competitor_path(competition_id: params[:id]),
          class: "btn btn-success pull-right", style:"margin-top: -7px" do %>
          <i class="fa fa-user-plus" style="padding-right: 7px"></i>Adicionar Competidor
        <% end %>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Número</th>
                <th>Nome</th>
                <th>Inscrição Paga?</th>
                <th>Quantidade de Passadas</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @competition.competitors.each do |competitor| %>
                <tr>

                  <td><%= competitor.id %></td>
                  <td><%= competitor.name %></td>
                  <td><%= competitor.paid == true ? 'Sim' : 'Não' %></td>
                  <td><%= competitor.number_races %></td>

                  <td style="width: 200px" align="center">
                  <%= link_to "#",
                  class: "btn btn-primary btn-circle" do %>
                  <i class="fa fa-edit"></i>
                  <% end %>

                  <%= link_to "#",
                    disabled: 'disabled',
                    method: :delete, class: "btn btn-danger btn-circle",
                    data: {confirm: 'Tem certeza que deseja deletar este competidor?'} do %>
                    <i class="fa fa-minus"></i>
                  <% end %>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>
  </div>


  <!-- TAB DUPLAS -->
  <div id="double" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listando Duplas
        <%= link_to  "#", class: "btn btn-primary pull-right", style:"margin-top: -7px" do %>
          <i class="fa fa-users" style="padding-right: 7px"></i>Formar Dupla
        <% end %>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
          <th></th>
          </tr>
          </thead>
            <tbody>
              <%# @competition.competitors.each do |competitor| %>
                <tr>
                  <td style="width: 200px" align="center">

                  <%= link_to "#",
                  class: "btn btn-primary btn-circle" do %>
                  <i class="fa fa-edit"></i>
                  <% end %>

                  <%= link_to '#',
                    disabled: 'disabled',
                  method: :delete, class: "btn btn-danger btn-circle",
                  data: {confirm: 'Tem certeza que deseja deletar este competidor?'} do %>
                  <i class="fa fa-minus"></i>
                  <% end %>
                  </td>
                </tr>
              <%# end %>
            </tbody>
          </table>
        </div>
      <!-- /.col-lg-12 -->
      </div>
    <!-- /.row -->
    </div>
  </div>
</div>
