<h1 class="page-header">
  <% if @competition %>
    <%= "Competição: #{@competition.title}" %>
    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 4px;">
      Valor da inscrição: <%= number_to_currency(@competition.price) %>
    </p>
  <% end %>
</h1>

  <% if @competitor.errors.any? %>
   <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
           <% @competitor.errors.full_messages.each do |message| %>
          <ul>
              <li><%= message %></li>
          </ul>
       <% end %>
   </div>
  <% end %>

<div class="panel panel-default">
 <div class="panel-heading">
   Novo Competidor
  <%#= action %>
 </div>
  <div class="panel-body">
   <div class="col-lg-6">
    <%= form_for([:backoffice, @competitor]) do |f| %>
       <div class="form-group">
        <label>Nome do Competidor</label>
         <%= f.text_field :name, class:"form-control", placeholder:"Ex: Ilso Dominical" %>
       </div>
         <div class="form-group">
          <label>Valor Total Pago</label>
          <div class="input-group">
             <div class="input-group-addon">R$</div>
             <%= f.text_field :price, class: "form-control", placeholder:"Ex: 40,00" %>
          </div>
          <br>
           <div class="form-group">
            <label>Estado da Inscrição</label>
            <br>
               <%= f.radio_button :paid, true %>Pagou
               <%= f.radio_button :paid, false %>Não Pagou
           </div>
         <div class="form-group">
          <label>Número de Passadas</label>
           <%= f.text_field :number_races, class:"form-control", placeholder:"Ex: 2" %>
         </div>
         <%= f.hidden_field :competition_id, value: @competition.id %>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    <% end %>
    </div>
                <!-- /.col-lg-12 -->
  </div>
</div>
